<header class="site-header">
  <div class="wrapper">
    <h1 class="logo">
      <a href="{{site.baseurl}}/" title="PubMed Labs Home">
        <span>PubMed Labs</span>
      </a>
    </h1>
    <form action="/labs/pubmed/" method="get" autocomplete="off" class="search-form " id="search-form">
      <div class="form-field search search-input">
        <label class="usa-sr-only" for="id_term">
          Search:
          <input type="search" name="term" value="otitis media treatment" class="term-input tt-input" required="" id="id_term" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;" aria-owns="id_term_listbox" aria-autocomplete="list">
        </label>
      </div>
      <button type="button" name="button" class="button">Search</button>
    </form>
    <a href="#">Show history</a>
    <a href="#">Show query builder</a>
  </div>
</header>
